body{
    margin: 33px;
    display:block;
    line-height: 18px;
    font-weight: bold;
    font-size: 13px;
}

h1{
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

strong {
    font-weight: bold;
}

p{
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.data-name{
    display: inline-block;
    width: 25%;
    text-align:center;
}

.data-name2{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.data-name3{
    display: inline-block;
    width: 20%;
}

.data {
    display: flex;
    justify-content: center; 
}

th {
    padding-bottom: 5px;
}

td{
    display: inline-block;
}

.index-title{
    display: inline-block;
    width: 25%;
    text-align: left;
}

.index-body{
    display: inline-block;
    width: 50%;
    text-align: left;
}

.index-action{
    display: inline-block;
    width: 20%;
}

.main-data{
    display: block;
}

tbody {
    display: inline-block;
    vertical-align: middle;
    border-color: inherit;
}

h2{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.field{
    margin-bottom: 10px;
}

.action{
    margin-bottom: 10px;
}

.flash{
    color: green;
}

.error{
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-count{
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

ul{
    width: auto;
    line-height: 18px;
}

.error-text{
    font-size: 12px;
    list-style: square;
}